.popup-content{
	width: 600px;
}
.popup-row{
	width: 590px;
    min-height: 10px;
    padding: 5px;
	padding-top: 15px;
}
.popup-h1{
	height: 35px;
    font-size: 26px;
    font-weight: 700;
}
.popup-key{
	width: 80px;
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
	text-align: right;
}
.popup-value{
	width: 480px;
    margin-left: 80px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
	padding-left: 10px;
}
.popup-input-text{
	width: 100%;
	padding-left: 10px;
	display: block;
	height: 38px;
    line-height: 1.3;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-radius: 2px;
	border-color: #e6e6e6;
}
.popup-button{
	border: 1px solid #C9C9C9;
    background-color: #fff;
    color: #555;
	display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
}
.popup-button:hover{
	border-color: #949494;
	color: #333;
}
.popup-button-save{
	background-color: #FFB800;
	color: #fff;
	border: none;
}
.popup-button-save:hover{
	background-color: #ffcd4b;
	color: #fff;
}